build*
eclipse*
neo/ipch

Doom3BFG.exe
base/_common.crc
base/_common.resources
base/_ordered.crc
base/_ordered.resources
base/_sound_pc.crc
base/_sound_pc.resources
base/_sound_pc_en.crc
base/_sound_pc_en.resources
base/_sound_pc_fr.crc
base/_sound_pc_gr.crc
base/_sound_pc_it.crc
base/_sound_pc_jp.crc
base/_sound_pc_sp.crc
base/autoexec.cfg
base/classicmusic/
base/joy_360_0.cfg
base/joy_360_1.cfg
base/joy_lefty.cfg
base/joy_righty.cfg
base/maps/
base/sound/
base/video/
base/wads/*
!base/wads/mlbls.wad
!base/wads/ua.wad
!base/wads/newopt.wad

GPATH
GRTAGS
GSYMS
GTAGS
HTML/
neo/.kdev4
neo/neo.kdev4
/mgwbuild
/neo/libs/ffmpeg-win64/.vs
/Microsoft.VCToolsVersion.14.13.props
/neo/libs/ffmpeg-win64-*
/neo/libs/ffmpeg-win32-*
/.vs
*.gch
/.vscode/ipch
/neo/.vs
/base/renderprogs/bfa/.vs
/MSIXBFA
/BFA-installer/BFAInst
/neo/libs/platform-*
/.vscode/targets.log
/.vscode/dryrun.log
/.vscode/configurationCache.log
*.aps
