name: Cache x64 Windows

on:
    workflow_call:
        inputs:
            build_type:
                required: true
                type: string

jobs:
    windows-build:
        runs-on: windows-latest
    
        steps:
        - uses: actions/checkout@v5
          with:
            submodules: recursive
            ref: master
        
        - name: Patch OpenAL-Soft
          id: step1f
          run: |
            cd vcpkg
            git apply ../.github/tools/openal-fix.patch

        - name: Fix Windows SDK
          id:  fix-SDK
          working-directory: ${{github.workspace}}/.github/tools
          shell: pwsh
          run: |
            .\download-windows-sdk.ps1
    
        - name: Cache Windows vcpkg
          id: cache-vcpkg
          uses: actions/cache@v4
          with: 
              path: ${{github.workspace}}/build/vcpkg_installed
              key: ${{runner.os}}-vcpkg-${{hashfiles('neo/windows-status')}}
              restore-keys: |
                ${{ runner.OS }}-vcpkg-
              enableCrossOsArchive: true
    
        - if: ${{ steps.cache-vcpkg.outputs.cache-hit != 'true' }}
          name: Configure CMake
          working-directory: ${{github.workspace}}/neo
          shell: powershell
          run: cmake -B ${{github.workspace}}/build --preset=windows-x64-2022  -DCMAKE_SYSTEM_VERSION=10.0.26100.0

        - name: Save logs - VCPKG
          if: ${{ failure() }}
          uses: actions/upload-artifact@v4
          with:
              name: vcpkg-windows-64-logs
              path: ${{github.workspace}}/vcpkg/buildtrees/*/*.log