name: Build x86 Windows

on:
    workflow_call:
        inputs:
            build_type:
                required: true
                type: string
            version:
                required: true
                type: string

jobs:
    windows-32-bit-build:
        runs-on: windows-latest

        steps:
            - uses: actions/checkout@v5
              with:
                submodules: recursive
                ref: ${{ github.event.pull_request.head.sha }}

            - uses: actions/checkout@v5
              with:
                repository: MadDeCoDeR/BFA-Assets
                path: BFA_Assets

            - name: Fix MSbuild
              shell: powershell
              run: Remove-Item "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\Microsoft.VCToolsVersion.v143.default.*"

            - name: Set up Visual Studio shell
              uses: egor-tensin/vs-shell@v2
              with:
                arch: x86

            - name: Cache Windows vcpkg
              uses: actions/cache@v4
              with: 
                path: ${{github.workspace}}/build/vcpkg_installed
                key: ${{runner.os}}-32-vcpkg-${{hashfiles('neo/windows-32-bit-status')}}
                restore-keys: |
                    ${{ runner.OS }}-32-vcpkg-
                enableCrossOsArchive: true

            - name: Configure CMake
              working-directory: ${{github.workspace}}/neo
              shell: powershell
              run: cmake -B ${{github.workspace}}/build --preset=windows-x86-2022
            
            - name: Save vcpkg_installed cache
              uses: actions/cache/save@v3
              with:
                  path: ${{github.workspace}}/build/vcpkg_installed
                  key: ${{runner.os}}-vcpkg-${{hashfiles('neo/windows-32-bit-status')}}

            - name: Build
              # Build your program with the given configuration
              run: MSBuild ${{github.workspace}}/build/DoomBFA.vcxproj -property:Configuration=${{inputs.build_type}}
            
            - name: Archive production artifacts
              uses: ./.github/actions/upload_artifact
              with:
                artifact_name: windows-${{inputs.version}}-${{inputs.build_type}}-x86
                executable_path: ./build/${{inputs.build_type}}/DoomBFA.exe
                vcpkg_triplet: x86-windows-static-md
                additional_paths: |
                            ./BFA_Assets/*
                            ./alsoft.ini
              
            - name: Save logs - VCPKG
              if: ${{ failure() }}
              uses: actions/upload-artifact@v4
              with:
                  name: vcpkg-windows-32-logs
                  path: ${{github.workspace}}/vcpkg/buildtrees/*/*.log